# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/External/
Assets/Plugins/Editor/
Assets/scene1.unity
Assets/scene1
Assets/scene1.meta
Assets/scene1.unity
Assets/*.meta
Assets/*.unity

# VS
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Unity Logs
Logs/
*.log

# Package Manager
Packages/

# Project Settings
ProjectSettings/TagManager.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset

# Build outputs
*.apk
*.aab
*.exe
*.dll

# OS
.DS_Store
Thumbs.db
Desktop.ini

# URP
UserSettings/

# Upgrade
UpgradeLog.htm
